.App {
  text-align: left;
}

.titlebar > div {
  display: inline-block;
  margin-bottom: 1em;
}
.titlebar input,
.titlebar button {
  height: 2em;
}
.titlebar .search {
  float: right;
}

.loading {
  border: 16px solid #444;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
  margin: 2em auto;
  animation: spin infinite 1s linear;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.no_images {
  font-size: 1.9em;
  color: #777;
  text-align: center;
  margin: 1.5em;
  animation: flip-out-bottom 1 0.72s ease;
}
.no_images button,
.no_images .search {
  margin: 0 0.5em;
  display: inline-block;
  vertical-align: middle;
}


.tiled {
  vertical-align: top;
}
.tiled .image {
  display: inline-block;
  width: 19%;
  height: 10em;
  margin: 0.5%;
  border: 3px solid #333;
  background-color: #222;
  overflow: hidden;
  vertical-align: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation: flip-out-left 1 0.7s ease;
  cursor: pointer;
}

.tiled .image .title {
  display: none;
  background-color: rgba(0,0,0,0.6);
  font-size: 0.9em;
  padding: 0.3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tiled .image:hover .title {
  display: block;
}

@keyframes flip-out-left {
  from { transform: rotateY(90deg) translateX(-50%); }
  to { transform: rotateY(0deg) translateX(0);}
}

@keyframes flip-out-bottom {
  from { transform: rotateX(-90deg) translateY(4em); }
  to { transform: rotateX(0deg) translateY(0);}
}

.selected {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.selected .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 1000;
  cursor: pointer;
}
.selected .modal {
  z-index: 2000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em;
  margin: 2em 10em;
  background-color: #333;
  animation: flip-out-bottom 1 0.4s ease;
  border: 1px solid #777;
}
.selected.closing .modal {
  animation: flip-in-bottom 1 0.4s ease;
}
.selected .title {
  margin-bottom: 0.3em;
}
.selected .title .close {
  float: right;
}
.selected .contents {
  overflow: auto;
  max-height: 80vh;
}
.selected .image {
  text-align: center;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  background-color: #111;
  border: 1px solid #999;
}
.selected .image video {
  text-align: center;
  max-height: 50vh;
}
.selected .details {
  display: table;
  background-color: #222;
  border: 1px solid #555;
  display: block;
  padding: 0.2em 1em;
}
.selected .details .detail {
  display: table-row;
}
.selected .details .detail > div {
  display: table-cell;
  padding: 0 0.2em;
}
.selected .details .detail .name {
  text-align: right;
  color: #67679e;
}
@keyframes flip-in-bottom {
  from { transform: rotateX(0deg) translateY(0); }
  to { transform: rotateX(-90deg) translateY(4em);}
}