.App {
  text-align: left;
}

.titlebar > div {
  display: inline-block;
  margin-bottom: 1em;
}
.titlebar input,
.titlebar button {
  height: 2em;
}
.search {
  float: right;
}


.tiled {
  vertical-align: top;
}
.tiled .image {
  display: inline-block;
  width: 20%;
  height: 10em;
  border: 3px solid #333;
  background-color: #222;
  overflow: hidden;
  vertical-align: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.tiled .image .title {
  display: none;
  background-color: rgba(0,0,0,0.6);
  font-size: 0.9em;
  padding: 0.3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tiled .image:hover .title {
  display: block;
}